.{
    font-family:'monospace', sans-serif;
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("background.jpg");
    height: 100vh;
    background-size: cover;

}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profilecard{
    height: 400px;
    width: 300px;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px;
}

.lifetimecoding{
    display: flex;
    justify-content: center;

}

.lifetimecoding img{
    border-radius: 50px;
    margin-top: 30px;

}

.lc{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.front{
    display: flex;
    justify-content: center;
}
.front p{
    font-size: 13px;
    margin-top: 5px;
    font-weight: 600;
}

.gmail{
    display: flex;
    justify-content: center;
}
.gmail p{
    font-size: 12px;
    margin-top: 5px;
}

.space{
    display: flex;
    justify-content: center;
}
.line{
    width: 220px;
    background-color: red;
    border: 1px solid black;
    opacity: 0.5;
    margin-top: 8px;
}

.account-details{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
}
.work{
    display: flex;
    justify-content: center;
}

.ten{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-weight: 600;
}
.follows{
    text-decoration: none;
    color: black;
}
.thirty-five{
    text-decoration: none;
    color: black;
    margin-left: 15px;
    font-weight: 600;
}
.works{
    text-decoration: none;
    color: black;
}
.five-point-four{
    text-decoration: none;
    color: black;
    margin-left: 25px;

}
.hours{
    text-decoration: none;
    color: black;

}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons .fa{
    color: black;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.btn{
    display: flex;
    justify-content: center;
    
}
.follow-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px transparent;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.send-message{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px transparent;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.follow-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.send-message:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

@media(max-width(700px)){

}